<h1>Users#new</h1>
<%= form_for @user do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<table>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  <tr>
    <td><%= f.label :email%></td>
    <td><%= f.text_field :email %></td>
  </tr>
 </table>
<%= f.submit %>

<% end %>


